.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #434455;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-header {
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

.nav-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-header .nav-link {
  text-decoration: none;
  color: #2e2f42;
}

.nav-header .nav-link:hover {
  color: #404bbf;
}

.nav-header .nav-link:active {
  text-decoration: underline;
  color: #404bbf;
}

.nav-header .nav-link:focus {
  color: #404bbf;
}

.nav-mail-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.nav-mail-phone .nav-link-mailphone {
  text-decoration: none;
  color: #434455;
}

.nav-mail-phone .nav-link-mailphone:hover {
  color: #404bbf;
}

.nav-mail-phone .nav-link-mailphone:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
}

.header-main {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
button:focus {
  background-color: #404bbf;
}

.decription-headerthree {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.decription-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}

.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.image-group {
  background-color: #ffffff;
}

.image-headerthree {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.image-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-headertwo {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.portfolio-headerthree {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-footer {
  color: #f4f4fd;
}

.decription-header {
  visibility: hidden;
}
